// nf_wochenende nextflow configuration file
//configure these values to your own cluster queues and type, or just use local for the current machine

executor {
  name = 'lsf'
  //name = 'local'
  perJobMemLimit = true
  queue = 'bioinformatics'
  memory = '40 GB'
  cpus = 16

}

params {

  // runtime parameters
  // Commonly changed parameters can be set here instead of using the start_nf.sh bash script
  // else get groovy boolean true vs python boolean True mismatch
  longread = True
  ref = "/mnt/beegfs/scratch/bioinformatics/colin/dev/nf_wochenende/current/nf_wochenende/test/data/ref.fa"
  aligner = "minimap2long"
  mismatches = "250"
  readType = "SE"

  // set these to your local nf_Wochenende or haybaler paths (which you cloned from github)
  WOCHENENDE_DIR="/mnt/beegfs/scratch/bioinformatics/colin/dev/nf_wochenende/current/nf_wochenende"
  HAYBALER_DIR="/mnt/beegfs/scratch/bioinformatics/colin/dev/haybaler"

  // set these paths to the conda or haybaler conda environments you installed
  conda_wochenende="/home/hpc/davenpor/programs/miniconda3/envs/wochenende/"
  conda_haybaler="/home/hpc/davenpor/programs/miniconda3/envs/haybaler/"

  // Haybaler lower thresholds below which taxa are excluded: 
  // minimum readcounts per sample. "Chromosomes with less than x reads in every sample are filtered out! Default = 10', default=10)
  // minimum RPMM per sample. Chromosomes with less than x RPMM in every sample are filtered out.
  // Recommended settings_
  //haybaler_readcount_limit = 10
  //haybaler_rpmm_limit = 300
  // haybaler for tiny developer fastq datasets
  haybaler_readcount_limit = 1
  haybaler_rpmm_limit = 10

}

process {

// configure this to an R server
  withName: 'run_r' {
    memory = '40 GB'
    cpus = 1
    queue = ''
    clusterOptions = "- your_r_server"
  }
}

