//configure these values to your own cluster queues and type, or local for the current machine

executor {
  name = 'lsf'
  //name = 'local'
  perJobMemLimit = true
  queue = 'bioinformatics'
  memory = '40 GB'
  cpus = 16

}

params {
  // set this to your local nf_Wochenende path (cloned from github)
  WOCHENENDE_DIR="/mnt/beegfs/scratch/bioinformatics/colin/dev/nf_wochenende/06_20/nf_wochenende-main"
  HAYBALER_DIR="/mnt/beegfs/scratch/bioinformatics/colin/dev/haybaler"
  conda_wochenende="/home/hpc/davenpor/programs/miniconda3/envs/wochenende/"
  conda_haybaler="/home/hpc/davenpor/programs/miniconda3/envs/haybaler/"
}

process {

// configure this to an R server
  withName: 'run_r' {
    memory = '40 GB'
    cpus = 1
    queue = ''
    clusterOptions = "- your_r_server"
  }
}

